.s-removebg-preview-1-icon {
  margin-left: -177px;
  width: 478px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
}
.we-re {
  position: relative;
  font-weight: 200;
}
.coming,
.soon {
  margin: 0;
}
.coming-soon {
  align-self: stretch;
  position: relative;
  color: red;
}
.we-re-parent {
  width: 303px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.announcements-and-our,
.fashion-storeadd-your,
.hello-fellow-shoppers {
  margin: 0;
}
.hello-fellow-shoppers-container {
  position: relative;
  font-size: 24px;
}
.desktop-1-inner,
.frame-parent,
.s-removebg-preview-1-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  align-self: stretch;
  gap: 21px;
}
.desktop-1-inner,
.s-removebg-preview-1-parent {
  box-sizing: border-box;
  max-width: 100%;
}
.s-removebg-preview-1-parent {
  align-self: stretch;
  padding: 0 0 0 150px;
  gap: 110px;
}
.desktop-1-inner {
  flex: 1;
  padding: 36px 0 0;
  min-width: 537px;
}
.background-icon {
  width: 573px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.desktop-1 {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px;
  background-image: url(./public/desktop--1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1125px) {
  .background-icon {
    flex: 1;
  }
  .desktop-1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .coming-soon,
  .we-re {
    font-size: var(--font-size-32xl);
  }
  .s-removebg-preview-1-parent {
    gap: 55px;
    padding-left: 75px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .desktop-1-inner {
    min-width: 100%;
  }
  .desktop-1 {
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .coming-soon,
  .we-re {
    font-size: var(--font-size-19xl);
  }
  .hello-fellow-shoppers-container {
    font-size: 19px;
  }
  .s-removebg-preview-1-parent {
    gap: 27px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
